---
import Player from '../components/Player.astro';
import Layout from '../layouts/Layout.astro';
import { getHomePage } from '../queries/Home';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

const {
  title,
  reelNumber,
  metaDescription,
  description,
  memberPhotosCollection,
  clientsCollection,
} = await getHomePage();
---

<Layout title={title} description={metaDescription}>
  <img
    src='/media/bff-logo-heart.png'
    alt=''
    class='fixed top-4 left-4 h-8 md:h-12 z-10'
  />
  <section>
    <Player reel={reelNumber} />
  </section>
  <section class='max-w-4xl mx-auto my-10 md:my-32'>
    <div class='m-4' data-aos='fade-in' data-aos-duration='800'>
      <h1
        class='uppercase font-bold text-5xl md:text-6xl xl:text-7xl mb-6 -translate-x-1'
      >
        {title}
      </h1>
      <div
        class='rich-text xl:text-lg'
        set:html={documentToHtmlString(description.json)}
      />
    </div>
  </section>
  <section class='my-10 md:my-20'>
    <div class='grid md:grid-cols-2'>
      {
        memberPhotosCollection.items.map((memberPhoto: any, idx: number) => (
          <div
            class='group relative'
            data-aos='fade-in'
            data-aos-duration='800'
            data-aos-delay={idx * 100}
          >
            <img src={memberPhoto.url} alt={memberPhoto.title} />
            <span class='absolute bottom-4 left-4 text-white opacity-0 group-hover:opacity-60 transition-opacity'>
              {memberPhoto.title}
            </span>
          </div>
        ))
      }
    </div>
  </section>
  <section
    class='max-w-7xl mx-auto my-32'
    data-aos='fade-in'
    data-aos-duration='800'
  >
    <div class='flex justify-center mb-16'>
      <h3 class='md:text-lg font-light tracking-wider uppercase'>
        Clients & Collaborators
      </h3>
    </div>
    <div class='flex flex-wrap justify-center gap-y-8 gap-x-8 sm:gap-x-16 m-4'>
      {
        clientsCollection.items.map((image: any) => (
          <div class='h-auto max-w-[120px] flex items-center'>
            <img src={image.url} alt='' />
          </div>
        ))
      }
    </div>
  </section>
</Layout>
