---
import Player from '../components/Player.astro';
import Layout from '../layouts/Layout.astro';
import * as content from '../../content/index.md';

const { title, reel, lead, clients } = content.frontmatter;
---

<Layout title={title}>
  <main>
    <Player reel={reel} />
    <h1 class='text-2xl'>
      {title}
    </h1>
    <p>{lead}</p>
    <Fragment set:html={content.compiledContent()} />
    <div class='flex gap-4 m-8'>
      {clients.map((image: string) => <img src={image} class='h-32' alt='' />)}
    </div>
  </main>
</Layout>
