---
import Player from '../components/Player.astro';
import Layout from '../layouts/Layout.astro';
import * as content from '../../content/index.md';

const { byline, title, reel, lead, clients } = content.frontmatter;
---

<Layout title={title}>
  <main>
    <section>
      <Player reel={reel} />
    </section>
    <section class='max-w-5xl mx-auto my-20'>
      <h3 class='m-4 font-bold uppercase text-base'>{byline}</h3>
      <div class='m-4 grid md:grid-cols-2'>
        <div class='mr-8'>
          <h1 class='text-4xl md:text-6xl xl:text-7xl mb-4'>
            {title}
          </h1>
          <p class='font-bold md:text-2xl xl:text-2xl mb-4'>{lead}</p>
        </div>
        <div class='rich-text' set:html={content.compiledContent()} />
      </div>
    </section>
    <section class='m-4 my-20'>
      <div class='flex justify-center mb-6'>
        <h3 class='font-bold uppercase'>Clients & Collaboration Partners</h3>
      </div>
      <div class='flex flex-wrap justify-center gap-4 md:gap-8'>
        {
          clients.map((image: string) => (
            <img src={image} class='h-20 md:h-28' alt='' />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
