---
import Player from '../components/Player.astro';
import Layout from '../layouts/Layout.astro';

const pages = await Astro.glob('./*.md');
const { title, reel, lead } = pages[1].frontmatter;
const { images } = pages[0].frontmatter;
---

<Layout title={title}>
  <main>
    <Player reel={reel} />
    <h1 class='text-2xl'>
      {title}
    </h1>
    <p>{lead}</p>
    <Fragment set:html={pages[1].compiledContent()} />
    <div class='flex gap-4 m-8'>
      {images.map((image: string) => <img src={image} class='h-32' alt='' />)}
    </div>
  </main>
</Layout>
