---
import Player from '../components/Player.astro';
import Layout from '../layouts/Layout.astro';
import * as content from './index.md';

const { reel, title, lead } = content.frontmatter;
---

<Layout title={title}>
  <main>
    <Player reel={reel} />
    <h1 class='text-2xl'>
      {title}
    </h1>
    <p>{lead}</p>
    <Fragment set:html={content.compiledContent()} />
  </main>
</Layout>
